@import url("https://fonts.googleapis.com/css2?family=Oxygen:wght@400;700&display=swap");
* {
  margin: 0;
  padding: 0;
  /* box-sizing: border-box; */
}

img {
  max-width: 100%;
  display: block;
}

.container {
  max-width: 1280px;
  padding: 10px;
  margin: 0 auto;
}

.header {
  height: 20vh;
  margin-left: 20vw;
}
.logo {
  height: 10vh;
  border-radius: 10px;
}
.heading-header {
  font-size: 4em;
  font-family: "Oxygen";
  margin-left: 7vw;
  margin-top: -12vh;
  color: #3da9c7;
}

/*nav*/
ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

li {
  display: inline-block;
}

li a {
  background-color: #3da9c7;
  color: #ffffff;
  font-size: 1.3em;
  font-family: "Oxygen";
  display: flex;
  font-weight: bold;
  text-align: center;
  padding: 20px 24px;
  margin: 5px 10px;
  text-decoration: none;
  border-radius: 10px;
}
.flight-nav,
.hotel-nav,
.contact-us-nav {
  background-color: #ffa62b;
}
li a:hover {
  background-color: #ffa62b;
  cursor: pointer;
}

/*Background image is here*/
.body-flight {
  margin-top: 2vh;
}
/*Flight form starts here*/
.background-img-flight {
  background-image: url("../images/background-image-flight.jpg");
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

.heading-flight {
  font-size: 2em;
  font-family: "Oxygen";
  padding-top: 6vh;
  text-align: center;
}
.flight-booking {
  border: 2px solid #0a4c65;
  border-radius: 15px;
  padding: 2em;
  height: 36vh;
  width: 60vw;
  margin: 5vh auto 5vh auto;
  opacity: 0.6;
  background-color: #ffffff;
}
.radio-button {
  font-size: 1.2em;
  font-family: "Oxygen";
  font-weight: bold;
  margin: 2em;
}
.flying-from-input {
  font-size: 1.2em;
  font-family: "Oxygen";
  float: left;
  width: 27vw;
  margin-top: 2vh;
  padding: 10px 4px;
  border-radius: 5px;
}
.icon-plane {
  height: 7vh;
  display: inline-block;
  position: relative;
}
.flying-to-input {
  font-size: 1.2em;
  font-family: "Oxygen";
  float: right;
  width: 27vw;
  padding: 10px 4px;
  border-radius: 5px;
}
.depart-and-return-date {
  margin-top: -6vh;
  display: block;
  font-size: 1.5em;
  font-family: "Oxygen";
}
.depart-date {
  margin-bottom: 1vh;
}
.depart-date-input {
  font-size: 1em;
  font-family: "Oxygen";
  border-radius: 5px;
}
.return-date-input {
  font-size: 1em;
  font-family: "Oxygen";
  border-radius: 5px;
}
.flight-search-button {
  margin-left: 24vw;
  font-size: 1.1em;
  margin-top: -15vh;
  border-radius: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.flight-search-button:hover {
  cursor: pointer;

  box-shadow: rgba(2, 48, 71, 0.25) 0px 30px 60px -12px inset,
    rgba(66, 82, 54, 0.3) 0px 18px 36px -18px inset;
}
/*Flight form finishes here*/

.container-wrapper {
  padding: 3%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
}
.box-info img {
  border-radius: 10px;
}
.box-1,
.box-2,
.box-3,
.box-4,
.box-5,
.box-6 {
  border: 1px #0a4c65 solid;
  border-radius: 10px;
  padding: 0;
  min-height: 600px;
  flex-basis: calc(33.33% - 50px);
  margin: 10px;
}

.qantas-icon img {
  height: 10vh;
  margin-left: 10px;
  margin-top: 55px;
}
.british-icon img {
  width: 10vw;
  margin-left: 10px;
  margin-top: 52px;
}
.air-france-icon img {
  width: 10vw;
  margin-left: 10px;
  margin-top: 32px;
}
.american-icon img {
  width: 10vw;
  margin-top: 64px;
  margin-left: 2px;
}
.qatar-icon img {
  width: 10vw;
  margin-left: 10px;
  margin-top: 33px;
}
.air-new-icon img {
  width: 10vw;
  margin-left: 10px;
  margin-top: 40px;
}
.logo-company {
  flex-basis: calc(50% - 30px);
  margin-left: 10px;
}

.logo-company img {
  width: 100px;
}

.box-1:hover,
.box-2:hover,
.box-3:hover,
.box-4:hover,
.box-5:hover,
.box-6:hover {
  position: relative;
  box-shadow: rgba(10, 76, 101, 0.35) 0px 5px 15px;
}

.container-wrapper h4 {
  padding: 10px;
  font-family: "Oxygen";
  font-size: 1.2em;
  font-weight: bold;
  color: #ffa62b;
}
.container-wrapper p {
  padding: 10px;
  font-family: "Oxygen";
}
.footer-box {
  display: flex;
  align-items: flex-end;
  padding: 40px 0px;
  justify-content: space-around;
  color: #3da9c7;
}

.book-button {
  position: relative;
  display: block;
  margin-right: 10px;
  font-family: "Oxygen";
  font-weight: bold;
}
.book-button:hover {
  cursor: pointer;
}
.book-button a {
  padding-left: 10px;
}
.box-2 .footer-box {
  margin-top: 10px;
}
.box-3 .book-button {
  margin-bottom: 20px;
}
.box-4 .book-button {
  margin-bottom: 15px;
}

.footer {
  position: relative;
  height: 6vh;
  width: 100%;
  margin-top: 10vh;
  background-color: #3da9c7;
}

p.copyright {
  position: absolute;
  width: 100%;
  line-height: 40px;
  font-size: 1em;
  text-align: center;
  bottom: 0;
}

/*Here Starts hotel.html*/
.body-hotel {
  margin-top: 2vh;
}
.background-img-hotel {
  background-image: url("../images/background-image-hotel-3.jpg.png");
  /*Imagem nao aparece apropriadamente*/
  height: 70vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
  background-attachment: fixed;
}
.heading-hotel {
  font-size: 2em;
  font-family: "Oxygen";
  padding-top: 6vh;
  padding-left: 21vw;
}
.hotel-booking {
  border: 2px solid #0a4c65;
  border-radius: 15px;
  padding: 2em;
  height: 50%;
  width: 50%;
  margin: 5vh auto 5vh auto;
  opacity: 0.6;
  background-color: #ffffff;
}
.destination-input {
  font-size: 1.2em;
  font-family: "Oxygen";
  float: left;
  width: 27vw;
  margin-top: 2vh;
  padding: 10px 4px;
  border-radius: 5px;
}

.check-in-and-check-out {
  display: block;
  font-size: 1.5em;
  font-family: "Oxygen";
  margin-top: 10vh;
}
.hotel-search-button {
  margin-left: 24vw;
  font-size: 1.1em;
  margin-top: -10vh;
  border-radius: 5px;
  /* align-items: center; */
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
}
.hotel-search-button:hover {
  cursor: pointer;
  box-shadow: rgba(2, 48, 71, 0.25) 0px 30px 60px -12px inset,
    rgba(66, 82, 54, 0.3) 0px 18px 36px -18px inset;
}
.heading-hotel-container {
  font-size: 2em;
  font-family: "Oxygen";
  padding-top: 6vh;
  padding-left: 17vw;
  color: #0a4c65;
}
.hotel-container-1 {
  padding: 12vh 12vw 10vh 12vw;
  display: flex;
  justify-content: space-between;
}

.hotel-container-2 {
  padding: 0 12vw 10vh 12vw;
  display: flex;
  justify-content: space-between;
}
.hotel-box {
  border: 1px #0a4c65 solid;
  border-radius: 10px;
  padding: 0;
  width: 100%;
  height: 40%;
  background-color: #0a4c65;
  min-height: 300px;
}
.hotel-container-1 img,
.hotel-container-2 img {
  width: 24vw;
  height: 20vh;
  border-radius: 10px;
}

.footer-box a {
  font-size: 1.2em;
  color: #ffa62b;
  font-weight: bold;
  text-decoration: none;
}
/*Hotel finishes here*/
/*Contact us starts here*/
.body-contact-us {
  margin-top: 2vh;
}
.background-img-contact-us {
  background-image: url("../images/background-image-contact-us.jpg");
  height: 100vh;
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;
  margin-bottom: -10vh;
}
.heading-contact-us {
  font-size: 2em;
  font-family: "Oxygen";
  padding-top: 6vh;
  padding-left: 20vw;
  color: #ffa62b;
}
.contact-us-form {
  border: 2px solid #0a4c65;
  border-radius: 15px;
  padding: 2em;
  height: 65%;
  width: 60%;
  margin: 5vh auto 5vh auto;
  opacity: 0.6;
  background-color: #ffffff;
  display: block;
  position: relative;
}
.name-and-email-contact-us {
  position: relative;
  display: block;
  padding: 15px;
  border-radius: 10px;
  width: 40vw;
}
.name-contact-us,
.email-contact-us {
  font-size: 1.2em;
  font-family: "Oxygen";
  float: left;
  width: 45vw;
  margin-top: 2vh;
  padding: 10px 4px;
  border-radius: 5px;
  border: 2px solid #0a4c65;
}
.message-contact-us {
  display: block;
  position: relative;
  float: left;
  padding: 15px;
  border-radius: 10px;
  width: 40vw;
  margin-top: -4vh;
}
.message-contact-us-textarea {
  font-size: 1.2em;
  font-family: "Oxygen";
  float: left;
  width: 45vw;
  margin-top: 2vh;
  padding: 10px 4px;
  border-radius: 5px;
  border: 2px solid #0a4c65;
}
.contact-us-button-div {
  float: right;
  padding: 15px;
  margin-top: 32vh;
}
.contact-us-button {
  border-radius: 5px;
  box-shadow: rgb(204, 219, 232) 3px 3px 6px 0px inset,
    rgba(255, 255, 255, 0.5) -3px -3px 6px 1px inset;
  font-size: 1.1em;
}
.contact-us-button:hover {
  cursor: pointer;
  box-shadow: rgba(2, 48, 71, 0.25) 0px 30px 60px -12px inset,
    rgba(66, 82, 54, 0.3) 0px 18px 36px -18px inset;
}

@media screen and (max-width: 768px) {
  * {
    box-sizing: border-box;
    font-size: 1em;
  }

  .header {
    text-align: center;
    padding: 10px;
    margin: 0 auto;
    width: 100%;
  }

  .header img {
    margin: 0 auto;
  }

  .heading-header {
    display: none;
  }

  .heading-flight {
    padding-left: 0;
    text-align: center;
  }

  .background-img-flight {
    width: 100%;
    height: 100%;
  }

  .flight-booking {
    width: 100%;
    height: 100%;
    padding: 10px;
  }

  .radio-button-flight {
    text-align: center;
  }

  .flight-input > input {
    width: 100%;
  }

  .flying-to-input {
    margin-top: 2vh;
  }

  .flight-input > img {
    display: none;
  }

  .depart-date > input {
    width: 100%;
  }

  .heading-return-date,
  .heading-date {
    display: none;
  }

  .depart-date-input {
    margin-top: 10px;
  }

  .return-date > input {
    width: 100%;
  }

  .flight-search-button {
    width: 100%;
    margin: 10px 0;
  }

  .box-1,
  .box-2,
  .box-3,
  .box-4,
  .box-5,
  .box-6 {
    flex-basis: 100%;
    min-height: auto;
  }
  /* Hotel @media starts here */
  .heading-hotel {
    padding-left: 0;
    text-align: center;
  }
  .hotel-booking {
    width: 70%;
    height: 60%;
    padding: 10px;
  }
  .destination-input {
    width: 100%;
  }
  .hotel-search-button {
    width: 100%;
    margin: 10px 0;
  }
  /* Contact Us @media starts here */
  .contact-us-form {
    height: 80%;
  }
  .contact-us-button-div {
    align-items: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    float: none;
    margin-top: 40vh;
  }
}

@media screen and (max-width: 470px) {
  .logo {
    display: none;
  }
}
